[submodule "tinyobjloader"]
	path = tinyobjloader
	url = ../../cpp-port/tiny-tinyobjloader
	branch = main
[submodule "glad"]
	path = glad
	url = ../glad_3.1
	branch = main
[submodule "glm"]
	path = glm
	url = ../../g-truc/glm
	branch = master
[submodule "ktx"]
	path = ktx
	url = ../../cpp-port/ktx
	branch = main
